<!-- INCLUDECSS @vinabb_emojipicker/emojionearea.min.css -->
<!-- INCLUDEJS @vinabb_emojipicker/emojionearea.js -->
<!-- INCLUDEJS @vinabb_emojipicker/jquery.caret.min.js -->

<script>
	/** global bbtags */

	$(document).ready(function()
	{
		/**
		* BBCode buttons
		*
		* 3.1:
		*	<input name="addbbcode*"...
		*	<input name="addlistitem"...
		*
		* 3.2:
		*	<button name="addbbcode*"...
		*	<button name="addlistitem"...
		*/
		$('button[name^="addbbcode"]').each(function()
		{
			var bbcodeIndex = parseInt($(this).attr('onclick').replace('bbstyle(', '').replace(')', ''));

			$(this).attr({
				'data-bbcode-tag-open': (typeof bbtags[bbcodeIndex] !== 'undefined') ? bbtags[bbcodeIndex] : '',
				'data-bbcode-tag-close': (typeof bbtags[bbcodeIndex + 1] !== 'undefined') ? bbtags[bbcodeIndex + 1] : ''
			});

			$(this).removeAttr('onclick');
		});

		$('button[name="addlistitem"]').each(function()
		{
			$(this).attr({
				'data-bbcode-tag-open': $(this).val(),
				'data-bbcode-tag-close': ''
			});

			$(this).removeAttr('onclick');
		});

		$('a[data-color]').each(function()
		{
			$(this).attr({
				'data-bbcode-tag-open': '[color=#' + $(this).data('color') + ']',
				'data-bbcode-tag-close': '[/color]'
			});
		});

		$('select[name="addbbcode20"]').removeAttr('onchange');

		$('a[onclick^="addquote"]').each(function()
		{
			var quoteData = $(this).attr('onclick').replace(/['\s{}]/g, '').replace('addquote(', '').replace(');', '').replace(/:/g, '=').split(',');

			$(this).attr({
				'data-bbcode-tag-open': '[quote=' + quoteData[1] + ' ' + quoteData[3] + ' ' + quoteData[4] + ' ' + quoteData[5] + ']' + '<br>' + $('#message_' + quoteData[0]).html() + '<br>',
				'data-bbcode-tag-close': '[/quote]'
			});

			$(this).removeAttr('href');
			$(this).removeAttr('onclick');
		});

		// Smilies
		$('div#smiley-box > a').each(function()
		{
			$(this).attr('data-smiley-code', $(this).find('img').attr('alt'));
			$(this).removeAttr('href').removeAttr('onclick');
		});

		// Set the attribute data-emojipicker="true" to load Emoji Picker on other extensions
		var $emojiPicker = $('div#message-box > textarea, textarea[data-emojipicker="true"]');

		$emojiPicker.emojioneArea({
			attributes: {
				dir: '{{ S_CONTENT_DIRECTION }}'
			},
			useInternalCDN: false,
			imageType: 'svg',
			pickerPosition: 'bottom',
			filtersPosition: 'bottom',
			buttonTitle: "{{ lang('EMOJI_BUTTON_EXPLAIN')|e('js') }}",
			filters: {
				tones: {
					title: "{{ lang(['EMOJI_CATS', 'TONES'])|e('js') }}"
				},
				recent: {
					title: "{{ lang(['EMOJI_CATS', 'RECENT'])|e('js') }}"
				},
				smileys_people: {
					title: "{{ lang(['EMOJI_CATS', 'SMILIES'])|e('js') }}"
				},
				animals_nature: {
					title: "{{ lang(['EMOJI_CATS', 'NATURE'])|e('js') }}"
				},
				food_drink: {
					title: "{{ lang(['EMOJI_CATS', 'FOOD'])|e('js') }}"
				},
				activity: {
					title: "{{ lang(['EMOJI_CATS', 'ACTIVITIES'])|e('js') }}"
				},
				travel_places: {
					title: "{{ lang(['EMOJI_CATS', 'TRAVEL'])|e('js') }}"
				},
				objects: {
					title: "{{ lang(['EMOJI_CATS', 'OBJECTS'])|e('js') }}"
				},
				symbols: {
					title: "{{ lang(['EMOJI_CATS', 'SYMBOLS'])|e('js') }}"
				},
				flags: {
					icon : 'flag_gb',// Feel free to change to your 2-letter country code
					title: "{{ lang(['EMOJI_CATS', 'FLAGS'])|e('js') }}"
				}
			}
		});

		// Keep the original height of textarea
		var checkExist = setInterval(function()
		{
			if ($('div.emojionearea').length)
			{
				$('div.emojionearea').css({
					'height': $emojiPicker.css('height')
				});

				clearInterval(checkExist);
			}
		}, 100);
	});

	{% if S_PLUPLOAD %}
	(function ($) {
		phpbb.plupload.updateBbcode = function(action, index)
		{
			$('[data-attach-id]').each(function(i)
			{
				$(this).find('input.file-inline-bbcode').attr({
					'data-bbcode-tag-open': '[attachment=' + i + ']',
					'data-bbcode-tag-close': '[/attachment]'
				});
			});

			var	textarea = $('div.emojionearea-editor'),
				text = textarea.html(),
				removal = (action === 'removal');

			// Return if the bbcode isn't used at all.
			if (text.indexOf('[attachment=') === -1) {
				return;
			}

			function runUpdate(i) {
				var regex = new RegExp('\\[attachment=' + i + '\\](.*?)\\[\\/attachment\\]', 'g');
				text = text.replace(regex, function updateBbcode(_, fileName) {
					// Remove the bbcode if the file was removed.
					if (removal && index === i) {
						return '';
					}
					var newIndex = i + ((removal) ? -1 : 1);
					return '[attachment=' + newIndex + ']' + fileName + '[/attachment]';
				});
			}

			// Loop forwards when removing and backwards when adding ensures we don't
			// corrupt the bbcode index.
			var i;
			if (removal) {
				for (i = index; i < phpbb.plupload.ids.length; i++) {
					runUpdate(i);
				}
			} else {
				for (i = phpbb.plupload.ids.length - 1; i >= index; i--) {
					runUpdate(i);
				}
			}

			textarea.html(text);
		};
	})(jQuery);
	{% endif %}
</script>
