<!-- INCLUDECSS @vinabb_emojipicker/emojione.min.css -->

{% set S_DMZX_MCHAT = MCHAT_INDEX and MCHAT_LOCATION is defined %}

{% if S_IN_POSTING or S_COMPOSE_PM or S_QUICK_REPLY or SIGNATURE_PREVIEW is defined or S_DMZX_MCHAT %}

<!-- INCLUDECSS @vinabb_emojipicker/emojionearea.min.css -->
<!-- INCLUDEJS @vinabb_emojipicker/jquery.caret.min.js -->
<!-- INCLUDEJS @vinabb_emojipicker/jquery.textcomplete.min.js -->
<!-- INCLUDEJS @vinabb_emojipicker/emojione.min.js -->
<!-- INCLUDEJS @vinabb_emojipicker/emojionearea.min.js -->

{% endif %}
